<!DOCTYPE html>

<html lang="en">
<head>
<title>Ace in the Hole Template</title>
<meta charset="utf-8">
<link href="css/template.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<header>
  <h1>H1 Header</h1>
</header>

<nav>
     <a href="template.html">Home</a> &nbsp; 
     <a href="event.html">event</a> &nbsp; 
     <a href="register.html">Register</a> &nbsp;
     <a href="contact.html">Contact</a>
</nav>
<aside>
   <h4>H4 Header</h4>
     <p>Paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text</p>
</aside>
<main>
 <h2>H2 Header</h2>
     <p>Paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text</p>
   <h3>H3 Header</h3>
      <img src="../images/image.jpg" alt="Gallery" width="600px" align="center"> 
   <h3>H3 Header</h3>
     <p>Paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text paragraph text</p>
</main>

<footer>
  Copyright &copy; 2019 footer Business name<br>
  <a href="mailto:contact@email.com">contact@email.com</a>
</footer>
</div>
</body>
</html>





